examples/example_flow.json
[
	{
		"id": "871b020ccee144a3",
		"type": "tab",
		"label": "alarm manager",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "168e27782caf3257",
		"type": "group",
		"z": "871b020ccee144a3",
		"name": "The Status monitor only has an alarm condition or not. ",
		"style": { "label": true },
		"nodes": [ "5372b6b9d5a5fdcf", "c8817fbe8dcfd628", "b122b1b15ef683eb", "4be3227da3951794", "b2861ad9743b25e1", "0bb5c753e5806fee", "7ef8caa431d9447e" ],
		"x": 48,
		"y": 333,
		"w": 1058,
		"h": 508
	},
	{
		"id": "b122b1b15ef683eb",
		"type": "group",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"name": "\"good\" inputs - will not trigger an alarm, will clear existing alarm",
		"style": { "label": true },
		"nodes": [ "15ee90973f804cea", "b3848510c5238c88", "0b07debb08f79773" ],
		"x": 74,
		"y": 499,
		"w": 412,
		"h": 122
	},
	{
		"id": "0bb5c753e5806fee",
		"type": "group",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"name": "\"bad\" inputs - will trigger an alarm",
		"style": { "label": true },
		"nodes": [ "cf3c98cc7300ec66", "5bcae1e72660d5dc" ],
		"x": 74,
		"y": 639,
		"w": 216,
		"h": 122
	},
	{
		"id": "7ef8caa431d9447e",
		"type": "group",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"name": "set msg.enable to true or false - false will clear any alarm condition and ignore all input",
		"style": { "label": true },
		"nodes": [ "4a77de386e770789", "28495ec5a045165f" ],
		"x": 74,
		"y": 359,
		"w": 543,
		"h": 122
	},
	{
		"id": "4cccddb3717e5f7d",
		"type": "group",
		"z": "871b020ccee144a3",
		"name": "The condition monitor has a high and low limit setpoint. Alarm conditions can be 'high' or 'low' alarms. ",
		"style": { "label": true },
		"nodes": [ "f48c9dcc7246f079", "b61d31bbf65740ae", "a25ebfabd83fbd2c", "1215eb08c0bd4199", "1e9d1484902ac894", "2d07d567af863511", "1fe4c3dbc04fdeae", "6bbeed87c8032e99" ],
		"x": 54,
		"y": 59,
		"w": 992,
		"h": 262
	},
	{
		"id": "fa7c5a52988d7128",
		"type": "group",
		"z": "871b020ccee144a3",
		"name": "The alarm emitter will manage all alarm input nodes and their messages. If configured, can delay sending an output and/or resend the output at an interval.",
		"style": { "label": true },
		"nodes": [ "fc656cfce48d971d", "57a5c741b402fd8b" ],
		"x": 54,
		"y": 859,
		"w": 967,
		"h": 82
	},
	{
		"id": "53235f57e9a28722",
		"type": "group",
		"z": "871b020ccee144a3",
		"name": "The alarms persistence hook allows for connections to a persistent storage module or sending alarm events to a log file or database.",
		"style": { "label": true },
		"nodes": [ "38c4ae42388aa3d9", "653495cf30d5f01d", "92eceb24d8d35cef", "58a6170b1db4b868", "e67ebb4e7a49ccfb", "d3c84997dcd6e5ef", "7fac5a3681f918fb" ],
		"x": 54,
		"y": 979,
		"w": 1272,
		"h": 222
	},
	{
		"id": "4be3227da3951794",
		"type": "junction",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"x": 460,
		"y": 440,
		"wires": [ [ "c8817fbe8dcfd628" ] ]
	},
	{
		"id": "b2861ad9743b25e1",
		"type": "junction",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"x": 440,
		"y": 620,
		"wires": [ [ "c8817fbe8dcfd628" ] ]
	},
	{
		"id": "0b07debb08f79773",
		"type": "junction",
		"z": "871b020ccee144a3",
		"g": "b122b1b15ef683eb",
		"x": 460,
		"y": 540,
		"wires": [ [ "c8817fbe8dcfd628" ] ]
	},
	{
		"id": "1fe4c3dbc04fdeae",
		"type": "junction",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"x": 580,
		"y": 100,
		"wires": [ [ "a25ebfabd83fbd2c" ] ]
	},
	{
		"id": "6bbeed87c8032e99",
		"type": "junction",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"x": 580,
		"y": 240,
		"wires": [ [ "a25ebfabd83fbd2c" ] ]
	},
	{
		"id": "fc656cfce48d971d",
		"type": "alarm-emitter",
		"z": "871b020ccee144a3",
		"g": "fa7c5a52988d7128",
		"name": "",
		"debug": false,
		"alarmManager": "49627fa8b743bf16",
		"x": 150,
		"y": 900,
		"wires": [ [ "57a5c741b402fd8b" ] ]
	},
	{
		"id": "57a5c741b402fd8b",
		"type": "debug",
		"z": "871b020ccee144a3",
		"g": "fa7c5a52988d7128",
		"name": "debug 1",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 320,
		"y": 900,
		"wires": []
	},
	{
		"id": "38c4ae42388aa3d9",
		"type": "persistence-hook",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "",
		"debug": false,
		"alarmManager": "49627fa8b743bf16",
		"x": 590,
		"y": 1080,
		"wires": [
			[ "92eceb24d8d35cef", "e67ebb4e7a49ccfb" ],
			[ "d3c84997dcd6e5ef" ]
		]
	},
	{
		"id": "653495cf30d5f01d",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "Send the persisted alarm storage on startup.",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": true,
		"onceDelay": "1",
		"topic": "",
		"payload": "alarmStore",
		"payloadType": "flow",
		"x": 270,
		"y": 1120,
		"wires": [ [ "38c4ae42388aa3d9" ] ]
	},
	{
		"id": "92eceb24d8d35cef",
		"type": "change",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "",
		"rules": [
			{
				"t": "move",
				"p": "payload",
				"pt": "msg",
				"to": "alarmStore",
				"tot": "flow"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 870,
		"y": 1080,
		"wires": [ [] ]
	},
	{
		"id": "58a6170b1db4b868",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "Set msg.reset to true to clear ALL alarms.",
		"props": [
			{
				"p": "reset",
				"v": "true",
				"vt": "bool"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"x": 280,
		"y": 1040,
		"wires": [ [ "38c4ae42388aa3d9" ] ]
	},
	{
		"id": "e67ebb4e7a49ccfb",
		"type": "debug",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "See comment --->",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 870,
		"y": 1020,
		"wires": []
	},
	{
		"id": "f48c9dcc7246f079",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"name": "disable",
		"props": [
			{
				"p": "enabled",
				"v": "false",
				"vt": "bool"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"x": 150,
		"y": 140,
		"wires": [ [ "1fe4c3dbc04fdeae" ] ]
	},
	{
		"id": "b61d31bbf65740ae",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"name": "enable",
		"props": [
			{
				"p": "enabled",
				"v": "true",
				"vt": "bool"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"x": 150,
		"y": 100,
		"wires": [ [ "1fe4c3dbc04fdeae" ] ]
	},
	{
		"id": "a25ebfabd83fbd2c",
		"type": "condition-monitor",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"name": "",
		"alarmId": "monitor A",
		"highAlarm": 8,
		"lowAlarm": 4,
		"delayMinutes": "0.5",
		"debug": false,
		"alarmManager": "49627fa8b743bf16",
		"x": 880,
		"y": 220,
		"wires": []
	},
	{
		"id": "d3c84997dcd6e5ef",
		"type": "debug",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "Send this output to a file. An output is emitted after every alarm event.",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 1030,
		"y": 1160,
		"wires": []
	},
	{
		"id": "1215eb08c0bd4199",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"name": "input outside limits: 8 - will trigger 'high' alarm condition",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "8",
		"payloadType": "num",
		"x": 300,
		"y": 200,
		"wires": [ [ "6bbeed87c8032e99" ] ]
	},
	{
		"id": "15ee90973f804cea",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "b122b1b15ef683eb",
		"name": "",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Online",
		"payloadType": "str",
		"x": 170,
		"y": 540,
		"wires": [ [ "0b07debb08f79773" ] ]
	},
	{
		"id": "cf3c98cc7300ec66",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "0bb5c753e5806fee",
		"name": "",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Offline",
		"payloadType": "str",
		"x": 170,
		"y": 680,
		"wires": [ [ "b2861ad9743b25e1" ] ]
	},
	{
		"id": "b3848510c5238c88",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "b122b1b15ef683eb",
		"name": "",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "1",
		"payloadType": "str",
		"x": 170,
		"y": 580,
		"wires": [ [ "0b07debb08f79773" ] ]
	},
	{
		"id": "5bcae1e72660d5dc",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "0bb5c753e5806fee",
		"name": "",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "0",
		"payloadType": "str",
		"x": 170,
		"y": 720,
		"wires": [ [ "b2861ad9743b25e1" ] ]
	},
	{
		"id": "5372b6b9d5a5fdcf",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"name": "input that does not match \"good\" or \"bad\" inputs - is ignored",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "other",
		"payloadType": "str",
		"x": 310,
		"y": 800,
		"wires": [ [ "c8817fbe8dcfd628" ] ]
	},
	{
		"id": "c8817fbe8dcfd628",
		"type": "status-monitor",
		"z": "871b020ccee144a3",
		"g": "168e27782caf3257",
		"name": "",
		"alarmId": "status A",
		"alarmType": "offline",
		"goodInputs": "Online, 1, okay",
		"badInputs": "Offline, 0 , not okay",
		"delayMinutes": "0.1",
		"strictlyBoolean": false,
		"debug": false,
		"alarmManager": "49627fa8b743bf16",
		"x": 970,
		"y": 520,
		"wires": []
	},
	{
		"id": "4a77de386e770789",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "7ef8caa431d9447e",
		"name": "disable",
		"props": [
			{
				"p": "enabled",
				"v": "false",
				"vt": "bool"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"x": 170,
		"y": 440,
		"wires": [ [ "4be3227da3951794" ] ]
	},
	{
		"id": "28495ec5a045165f",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "7ef8caa431d9447e",
		"name": "enable",
		"props": [
			{
				"p": "enabled",
				"v": "true",
				"vt": "bool"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"x": 170,
		"y": 400,
		"wires": [ [ "4be3227da3951794" ] ]
	},
	{
		"id": "1e9d1484902ac894",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"name": "input within limits: 6 - will clear an alarm condition",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "6",
		"payloadType": "num",
		"x": 280,
		"y": 240,
		"wires": [ [ "6bbeed87c8032e99" ] ]
	},
	{
		"id": "2d07d567af863511",
		"type": "inject",
		"z": "871b020ccee144a3",
		"g": "4cccddb3717e5f7d",
		"name": "input outside limits: 4 - will trigger 'low' alarm condition",
		"props": [ { "p": "payload" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "4",
		"payloadType": "num",
		"x": 300,
		"y": 280,
		"wires": [ [ "6bbeed87c8032e99" ] ]
	},
	{
		"id": "7fac5a3681f918fb",
		"type": "comment",
		"z": "871b020ccee144a3",
		"g": "53235f57e9a28722",
		"name": "",
		"info": "send this output to your flow or global \ncontext store. This allows you to see what\nalarms are present in the alarm manager\nwithout sending outputs from the alarm \nemitter. This can also  be used to persist\nthe alarm storage between restarts.",
		"x": 1060,
		"y": 1020,
		"wires": []
	},
	{
		"id": "49627fa8b743bf16",
		"type": "alarm-manager",
		"name": "manager 1",
		"delayMinutes": "0.04",
		"resendMinutes": "0.16",
		"debug": false
	}
]
